*/*.go
!util/util.go
bin/*
doc/bioboxDoc.aux
doc/bioboxDoc.bbl
doc/bioboxDoc.blg
doc/bioboxDoc.dvi
doc/*.log
doc/bioboxDoc.pdf
doc/bioboxDoc.toc
doc/bioboxDoc.ps
doc/rd*.ps

# LaTeX files of individual programs
doc/al.tex
doc/blast2dot.tex
doc/cchar.tex
doc/cutSeq.tex
doc/dnaDist.tex
doc/drawKt.tex
doc/drawSt.tex
doc/fasta2tab.tex
doc/getSeq.tex
doc/histogram.tex
doc/keyMat.tex
doc/mum2plot.tex
doc/mutator.tex
doc/naiveMatcher.tex
doc/numAl.tex
doc/pam.tex
doc/plotLine.tex
doc/plotSeg.tex
doc/randomizeSeq.tex
doc/ranDot.tex
doc/ranseq.tex
doc/rep2plot.tex
doc/repeater.tex
doc/revComp.tex
doc/rpois.tex
doc/sblast.tex
doc/shustring.tex
doc/simNorm.tex
doc/simOrf.tex
doc/testMeans.tex
doc/util.tex
doc/var.tex
doc/watterson.tex
doc/wrapSeq.tex

# Programs
al/al
blast2dot/blast2dot
cchar/cchar
cutSeq/cutSeq
dnaDist/dnaDist
drawKt/drawKt
drawSt/drawSt
fasta2tab/fasta2tab
getSeq/getSeq
histogram/histogram
keyMat/keyMat
mum2plot/mum2plot
mutator/mutator
naiveMatcher/naiveMatcher
numAl/numAl
pam/pam
plotLine/plotLine
plotSeg/plotSeg
randomizeSeq/randomizeSeq
ranDot/ranDot
ranseq/ranseq
rep2plot/rep2plot
repeater/repeater
revComp/revComp
rpois/rpois
sblast/sblast
shustring/shustring
simNorm/simNorm
simOrf/simOrf
testMeans/testMeans
var/var
watterson/watterson
wrapSeq/wrapSeq

# Miscellaneous
drawKt/ktWrapper*
drawKt/kt.tex
ranDot/*.sh
plotLine/lineTmpl.txt
plotLine/makeRes.sh
plotSeg/segTmpl.txt
plotSeg/makeRes.sh
