*/*.go
bin/*
doc/bioboxDoc.aux
doc/bioboxDoc.bbl
doc/bioboxDoc.blg
doc/bioboxDoc.dvi
doc/*.log
doc/bioboxDoc.pdf
doc/bioboxDoc.toc
doc/al.tex
doc/cchar.tex
doc/cutSeq.tex
doc/dnaDist.tex
doc/getSeq.tex
doc/naiveMatcher.tex
doc/numAl.tex
doc/randomizeSeq.tex
doc/ranseq.tex
doc/revComp.tex
doc/util.tex
doc/var.tex
doc/watterson.tex
doc/wrapSeq.tex

# Programs
al/al
cchar/cchar
cutSeq/cutSeq
dnaDist/dnaDist
getSeq/getSeq
naiveMatcher/naiveMatcher
numAl/numAl
randomizeSeq/randomizeSeq
ranseq/ranseq
revComp/revComp
var/var
watterson/watterson
wrapSeq/wrapSeq

